@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

th a {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.2px !important;
  color: #252733;
  text-decoration: none;
}

th a:visited {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.2px !important;
  color: #252733;
  text-decoration: none;
}

thead th {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  color: #9FA2B4 !important;
}

th {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.2px !important;
  color: #252733 !important;
}

td {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.2px !important;
  color: #252733 !important;
}

.App {
  display: flex;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  background-color: #363740;
  height: 100vh;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.4px;
  margin: 10px 0 10px 0;
  padding: 0;

  color: #000000;
}

h2 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;

  color: #000000;
}
